* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Yekan";
  direction: rtl;
}

:root {
  --primary-color: #2f3a8f;
  --secondary-color: #fe7e6d;
  --main-white: #fff;
  --main-black: #222;
  --main-gray: #fe7e6d;
  --main-spacing: 0.1rem;
  --main-transition: all 0.3 linear;
  --main-red: #db2727;
  --body-color: #feece9;
}

body {
  background-color: var(--body-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
header {
  width: 100vw;
}
header h1 {
  padding: 2rem 0;
  color: var(--primary-color);
  text-align: center;
}
/* .container {
  padding: 0 1rem;
} */
.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.form-container form {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-container {
  margin: 1rem;
}
.todo-input {
  font-size: 1.2rem;
  flex: 1;
  padding: 0.15rem 0.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
}

.todo-input:focus {
  border: 2px solid var(--primary-color);
}

.btn-add i {
  color: var(--primary-color);
  transition: var(--main-transition);
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.2rem;
}
.btn-add .fa-check-square {
  display: none;
}
.fa-plus-circle:hover {
  color: var(--body-color);
  background-color: var(--primary-color);
}

.filter-todos {
  border: none;
  outline: none;
  padding: 0.25rem;
  margin: 0 0.5rem;
}

.todo {
  background-color: var(--main-gray);
  margin: 0.5rem 0;
  width: 100%;
  padding: 0.25rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
}

.todo span {
  flex: 1;
  width: 100%;
  color: var(--main-black);
}

.todo i {
  padding: 0.4rem;
  color: var(--primary-color);
  font-size: 1.2rem;
  cursor: pointer;
}

.btn-add {
  border: none;
  outline: none;
  background-color: var(--body-color);
  padding: 0.5rem;
  cursor: pointer;
}

.complete {
  text-decoration: line-through;
  opacity: 0.5;
}
