@import url('https://fonts.cdnfonts.com/css/iranyekan');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IRANYekan', sans-serif;
    list-style: none;
}

:root {
    --primary-color: #6d28d9;
    --secondary-color: #ede9fe;
    --mainWhite: #fff;
    --mainBlack: #000;
    --mainGray: #7c7c7c;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
    --mainRed: #db2777;
    --bodyColor: #f6f6f6;
}

body {
    font-family: 'IRANYekan', sans-serif;
    color: var(--mainBlack);
    background-color: var(--bodyColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.form-container {
    display: flex;
}

form {
    background-color: var(--mainWhite);
    width: 25rem;
    display: flex;
    justify-content: space-between;
}

form input {
    flex: 1;
}

form input,
form button {
    background-color: var(--mainWhite);
    border: none;
    outline: none;
    font-size: 1rem;
    padding: .25rem;
}

form button {
    color: var(--primary-color);
    cursor: pointer;
    transition: var(--mainTransition);
}

form button:hover {
    background-color: var(--primary-color);
    color: var(--mainWhite);
}

.todo-container {
    width: 25rem;
}

.todo {
    display: flex;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.3rem 0;
    transition: var(--mainTransition);
}

.todo li {
    flex: 1;
    padding: 0 0.2rem;
    font-weight: bold;
    color: var(--primary-color);
}

.todo span {
    display: block;
    font-size: 1rem;
    padding: 0.3rem;
    cursor: pointer;
}

.fa-trash-alt {
    color: var(--mainRed);
}

.fa-check-square {
    color: var(--primary-color);
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

select {
    appearance: none;
    outline: none;
    border: none;
    color: var(--primary-color);
    padding: 0.5rem;
    width: 100%;
}

.select {
    margin-left: 0.5rem;
    background-color: var(--mainWhite);
    cursor: pointer;
    width: 10rem;
    font-weight: bold;
    position: relative;
}

.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    color: var(--primary-color);
    pointer-events: none;
    
}